html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}



p {
  font-family:"Roboto";
  font-size: 0.875em; /* 14px/16=0.875em */

}

h4 {
  font-family:"Roboto";
}

.top
{
    height: 700px;
    /* width: 1800px; */
}

/* for debugging layout issues*/
/* .top, .invite
{
    border: 4px solid;
} */
