html, body {
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

canvas {
  display: inline-block;
}


p {
  font-family:"Roboto";
  font-size: 0.9em; /* 14px/16=0.875em */

}

h4 {
  font-family:"Roboto";
}

.top
{
    height: 650px;
    /* width: 1800px; */
}

.invite {
  background-color:aliceblue
}

.slidercontainer {

  border: 3px solid;
  height:500px
  background-color:brown

  //width: 50%

}

.form {
height:400px


}

/* for debugging layout issues*/
.top, .invite, .form
{
  //  border: 3px solid;
}

// slider does not work

/* The slider itself */
.feasibility-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
*/
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
